<table>
    <thead>
    <tr>
        <th>
            <h3><p style="color:Red; background-color :black">Student Name &nbsp &nbsp</p></h3>
        </th>
        &nbsp &nbsp
        <th>
            <h3><p style="color:Red; background-color :black">StudentLastname &nbsp &nbsp</p></h3>
        </th>
        &nbsp &nbsp
        <th>
            <h3><p style="color:Red; background-color :black">Student Phone &nbsp &nbsp</p></h3>
        </th>
        &nbsp &nbsp
        <th>
            <h3><p style="color:Red; background-color :black">Student Email &nbsp &nbsp</p></h3>
        </th>
        &nbsp &nbsp
        <th>
            <h3><p style="color:Red; background-color :black">Action &nbsp &nbsp</p></h3>
        </th>
        &nbsp &nbsp
    </tr>
    </thead>
    <tbody>
        {% include 'partial_students.html' %}
    </tbody>
</table>