body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #5f5160e3;;
  font-family: "lato", sans-serif;
   background-image: url("https://images.pexels.com/photos/672597/pexels-photo-672597.jpeg")
